.signup-container {
  width: 100%;
  height: 100%;
  display: flex;

  position: relative;
  z-index: 0;
}

// .signup-overlay {
//   width: 100%;
//   height: 100%;
// }

.error-signup {
  color: #f03a47;
  display: flex;
  justify-content: flex-start;
}

.left-container .binge-box-heading {
  margin-top: 6.45rem;
  margin-left: 18.93rem;

  justify-content: flex-start;
  text-align: center;
  width: 100%;
  display: flex;
}

.left-container .binge-box-heading .binge-heading {
  height: 80%;
  width: 13%;
  background-color: #f03a47;
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 54.282px;

  color: #ffffff;
}

.left-container .binge-box-heading .box-heading {
  height: 80%;
  width: 10%;
  margin-left: 0.3%;
  color: #f03a47;
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 54.282px;
  line-height: 68px;
}

.left-container {
  width: 90%;
  height: 100%;
}

.signup-container .left-container .signup-form {
  display: flex;
  flex-direction: column;
  margin-left: 19rem;
  // justify-content: center;
  // align-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;

  .signup-heading {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #ffffff;
  }

  .inputs {
    width: 34.375rem;
    height: 4.5rem;
    background: linear-gradient(
      115.57deg,
      rgba(255, 255, 255, 0.19) -4.2%,
      rgba(234, 234, 234, 0.0806194) 70.71%,
      rgba(223, 214, 214, 0) 125.93%
    );
    border: 0.9px solid #8b8b8b;
    border-radius: 15px;
    margin-top: 2.5rem;

    input {
      width: 100%;
      height: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      /* identical to box height */
      border-radius: 0.625rem;
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      outline: none;
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      color: #ffffff;
    }
  }

  .privacy-policy {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 400;
    margin: 2%;
    margin-bottom: 1%;
    margin-left: 0.2%;

    label {
      margin-right: 1rem;
      input {
        width: 1.5rem;
        height: 1.5rem;
        accent-color: #e4e4e4;
        border-radius: 0.25rem;
      }
    }
    a {
      margin-left: 0.5rem;
      color: #f03a47;
    }
  }
  .btn {
    width: 34.75rem;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
    margin-top: -0.5rem;
    border: none;
    outline: none;
    background: #9f9f9f;
    border-radius: 15px;
    cursor: pointer;
    font-size: 32px;
    color: #e4e4e4;
    font-weight: 600;
  }
}

.signup-container .right-container {
  width: 150%;
  position: absolute;
  width: 825.33px;
  height: 1590.88px;
  left: 800px;
  top: -162px;
  background: url("../../assets/images/sign-up-bg.svg");

  opacity: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

  .change-text {
    width: 36rem;
    margin-left: 12rem;
    margin-top: 28rem;
  }
}
