.user-preferences-page {
    height: 67.5rem;
    width: 120rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../UserPreferences/images/poster.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container-preferences {
    height: 85%;
    width: 89.375rem;
    margin-top: 3.3125rem;
}

.binge-box-heading {
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.binge-box-heading-preference {
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.binge-heading {
    height: 3.5rem;
    width: 8.1875rem;
    background-color: #F03A47;
    color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-heading {
    height: 3.5rem;
    width: 5.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents-preferences {
    height: 90%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.contents-preferences .main-container {
    height: 90%;
    width: 95%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skip-row {
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
}

.you-prefer-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: white;
    width: 14%;
}

.skip-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: white;
    width: 10%;
    margin-bottom: 0.2%;
    cursor: pointer;
}

.next-row {
    height: 8%;
    width: 94%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1%;
}

.next-text {
    height: 100%;
    width: 10%;
    color: #F03A47;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.125rem;
    cursor: pointer;
}


.contents-row {
    height: 88%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contents-boxes {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.category-preferences-box {
    margin: 2%;
    height:12.875rem;
    width:23.625rem;
}

.card-component {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.75rem;

    color: #FFFFFF;
}

.zoomed {
    transform: scale(1.2);
  }