.card-container-3 {
  width: 15rem;
  border: 1px solid black;

  border-radius: 0.938rem;

  display: flex;
  height: 23rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-end-container-3 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

// .card-container-3:hover {
//   position: relative;
//   z-index: 1;
//   transform: scale(1.2, 1.3);
// }

.hover-card-style-3 {
  video {
    width: 100%;
    height: 100%;
    border-radius: 0.938rem;
  }

  background-color: rgba(0, 0, 0, 0.4);
}

.base-styles-3 {
  position: relative;
  z-index: 0;
}

.overlay-styles-3 {
  position: absolute;
  z-index: 1;
}

.card-details-container-3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  width:100%;
  height:40%;

  h4 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;

    line-height: 40px;
    /* or 100% */

    color: #ffffff;
  }

  h4 {
    font-size: 15px;
  }

}

.card-movie-name-3 {
  text-align: start;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  font-size: 26px;
  color: #ffffff;
}

.cbfc-style {
  border: 1px solid white;
  border-radius: 10%;
  height: 30px;
  padding: 4px;
}

.card-logo-container-3 {
  width: 80%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  //justify-content: end;
}

.ab-3 {
  display: flex;
  align-items: center;
  margin-left: 0%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  height:50%;

  color: #FFFFFF;
  width:40%;

}

.card-last-container-3 {
  display: flex;
  gap: 4%;
  height:60%;
}

.rate-1-card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.6px solid #9A9B9C;
  border-radius: 26px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  width:30%;
  
}