.binge-box{
    
    height: 2.62rem;
    

background-color: #F03A47;
p{
    padding-top: 0.28rem;
    
width: 6rem;
height: 2rem;
margin-top: 4%;

//font-family: 'Sora';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;

/* Neutral/White */

color: #FFFFFF;
}
}
.box-style{
    margin-bottom: 0px;
    margin-top: 2%;
    margin-left: 2%;
    padding-top: 0.4rem;
    padding-left: 0.1rem;
    //font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    
    color: #F03A47;
}