.item-card-design{
    margin-left: 3%;
    background-color: green;
    color: black;
    width: 25%;
    height: 7rem;
    :hover{
        width: 120%;
        height: 10rem;
        background-color: blueviolet;
    }
}
.--bs-card-bg{
    color:green

}