.background-design{
    display: flex;
    flex-direction: column;
    color: white;
    width: 90vw;
    height:100%;
//    background-image: url("./../../assets/images/Backgrond_image.png");
    // background-color: black;
    // //padding: 350px 35px 400px;
    // background: linear-gradient(
    //   90deg,
    //   #1e1515 27.37%,
    //   rgba(30, 21, 21, 0.08) 100%
    // );
    // backdrop-filter: blur(19.7356px);


}
.design-apart{
    height: 30%;
    background-color: black;
    background: linear-gradient(180deg, rgba(92, 21, 21, 0) 20%, #241515 80%);
    transform: rotate(180deg);
}
.design-bpart{
    height: 100%;
    background-color: black;
    background: linear-gradient(180deg, rgba(34, 10, 10, 0) 20%, #241515 80%);
}



.home-container {
    padding-top: 2rem;
  width: 80%;
  height: 100%;
  flex-grow: 100;
  z-index: 0;
   position: relative;

  .top-movies-grid {
    display: flex;
    position: relative;

    .cards {
        position: relative;
        z-index: 0;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      display: grid;
      grid-gap: 1rem;
      grid-auto-flow: column;
      //   grid-auto-columns: calc(100% - 2rem);
      min-height: 14.75rem;
    }
    
  }
  .arrow-style{
    display: flex;
    position: absolute;
    z-index: 1;
    margin-left: 7.8%;
    margin-top: 7%;
    transform: rotate(180deg);
    width: 3.4rem;
    height: 3.4rem;
    background-color: linear-gradient(
        90deg,
        #1e1515 27.37%,
        rgba(30, 21, 21, 0.08) 100%
      );
      backdrop-filter: blur(19.7356px);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.arrow-style1{
   margin-top: 7%;
   position: absolute;
   z-index: 1;
   margin-left: 97%;
   width: 3.4rem;
    height: 3.4rem;
    background-color: linear-gradient(
        90deg,
        #1e1515 27.37%,
        rgba(30, 21, 21, 0.08) 100%
      );
      backdrop-filter: blur(19.7356px);
      border-radius: 50%;
      display: flex;
      align-items: center;
    justify-content: center;
}
}
