.background-design{
    display: flex;
    flex-direction: column;
    color: white;
    width: 90vw;
    height:100%;

    // background-color: black;
    // //padding: 350px 35px 400px;
    // background: linear-gradient(
    //   90deg,
    //   #1e1515 27.37%,
    //   rgba(30, 21, 21, 0.08) 100%
    // );
    // backdrop-filter: blur(19.7356px);


}
.design-apart{
    height: 30%;
    background-color: black;
    background: linear-gradient(180deg, rgba(92, 21, 21, 0) 20%, #241515 80%);
    transform: rotate(180deg);
}
.design-bpart{
    height: 100%;
    background-color: black;
    background: linear-gradient(180deg, rgba(34, 10, 10, 0) 20%, #241515 80%);
}