.photo-style{
    width: 75%;
    height: 75%;
    //padding-left: 2rem;
}
.photo-container{
    width: max-content  ;
    margin-right: 1rem;
    p{
        font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 25px;
/* identical to box height, or 121% */

text-align: center;

/* Neurtal/White */

color: #FFFFFF;
    }
}