.photo-style {
  width: 75%;
  height: 75%;
}
.photo-container {
  width: max-content;
  margin-right: 1rem;
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
  }
}
