.selected-container {
position: absolute;
z-index: 1;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
width: 30% !important;
height: 600px;
/* background: url("../../assets/images/bg-login.png") no-repeat; */
background-color: transparent;
background-position: center;
border-radius: 10px;
// margin-top: 5%;


.binge-box-heading {
    margin-top: 6.5rem;
    margin-bottom: 4rem;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    .binge-heading {
            height: 80%;
            width: 40%;
            background-color: #f03a47;
            //font-family: "Sora";
            font-style: normal;
            font-weight: 700;
            font-size: 54.282px;
            line-height: 68px;
            color: #ffffff;
        }
                .box-heading {
                    height: 80%;
                    width: 10%;
                    margin-left: 2%;
                    color: #f03a47;
                    //font-family: "Sora";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 54.282px;
                    line-height: 68px;
                }
}
 .card {
     background: linear-gradient(115.57deg,
             rgba(255, 255, 255, 0.19) -4.2%,
             rgba(234, 234, 234, 0.0806194) 70.71%,
             rgba(223, 214, 214, 0) 125.93%);
     width: 82.125rem;
     display: flex;
     align-items: flex-start;
     border-radius: 1.56rem;
     margin-left: -25rem;
 color: #FFFFFF;
     padding-left: 6rem;
     padding-top: 3.6rem;

     h2 {
         color: #f03a47;
     }
     p{
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 400;
        span{
            font-size: 1.25rem;
            font-weight: 700;
        }
     }

     .features {
        color: #FFFFFF;
         display: flex;
         justify-content: space-around;
         width: 100%;
         align-items: center;
         margin-top: 4.2rem;
         margin-left: -5.15rem;

         h4 {
             font-weight: 400;
             font-size: 1rem;
         }
     }

     .rate-0 {
         display: flex;
                  width: 72rem;
         height: 9rem;
         align-items: center;
         margin-left: 0rem !important;
         color: #FFFFFF;
         background: black;
         padding: 1rem;
        
         font-size: 1.25rem;
         font-weight: 700;
         border-radius: 0.9375rem;
         margin-left: 0rem;
         background: linear-gradient(0deg, rgba(0, 0, 0, 0.69) 61.55%, rgba(30, 21, 21, 0.08) 127.11%);
.reslution{
margin-left: -5rem !important;
         }

         

     }

     .btn {
         display: flex;
         justify-content: flex-end;
         width: 100%;
         margin-top: 3rem;
         margin-bottom: 3rem;

         .back-btn {
             font-weight: 700;
             font-size: 20px;
             line-height: 24px;
             text-align: center;

             /* Primary/Red 100 */

             color: #f03a47;

             width: 15.75rem;
             height: 3.69rem;
             background: #f4f4f4;
             border-radius: 15px;
             text-align: center;
             padding: 1rem;
         }

         .payment-btn {
            cursor: pointer;
             padding: 1rem;
             font-weight: 700;
             font-size: 20px;
             width: 15.75rem;
             height: 3.69rem;
             background: #f03a47;
             border-radius: 15px;
             text-align: center;
             display: flex;
             justify-content: center;
             align-items: center;
             margin-left: 2rem;
             margin-right: 4.95rem;

             color: #FFFFFF;
         }
     }
 }
}
.price-box{
    width: 13rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: start;
}
.resolution-box{
    width: 15rem;
    text-align: start;
    margin-left: 3.8rem;
    font-size: 1.25rem;
    font-weight: 700;

}
.qulaity-box{
    width: 10rem;
    margin-left: 5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: start;
}
.device-1{
    width: 19rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 7.5rem;
    // border: 2px solid red;

}
   