.header-container {
  background-color: black;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 2rem;
  a {
    text-decoration: none;
    color: white !important;
    font-family: "Nunito Sans";
  }

  input {
    background-color: transparent;
    border: none;
    padding-left: 4%;
    width: 23rem;
    height: 1.22rem;
  }
}
.header-link-active-style {
  font-weight: 600;
  border-bottom: 2px solid red;
}
.last-container {
  display: flex;
  align-items: end;
  padding-left: 1rem;
}
.profile-style {
  width: 5.75rem;
  height: 3.75rem;
  padding-left: 2rem;
}
.search-box {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  background: linear-gradient(
    115.57deg,
    rgba(255, 255, 255, 0.19) -4.2%,
    rgba(234, 234, 234, 0.0806194) 70.71%,
    rgba(223, 214, 214, 0) 125.93%
  );
  backdrop-filter: blur(37.1763px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
  height: 2.5rem;
}
.options {
  display: flex;
  flex-direction: column;
}
.category-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  // border: 2px solid blue;
  background: linear-gradient(
    115.57deg,
    rgba(255, 255, 255, 0.19) -4.2%,
    rgba(31, 18, 18, 0.081) 70.71%,
    rgba(223, 214, 214, 0) 125.93%
  );
  backdrop-filter: blur(37.1763px);
}
.profile-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    115.57deg,
    rgba(255, 255, 255, 0.19) -4.2%,
    rgba(234, 234, 234, 0.0806194) 70.71%,
    rgba(223, 214, 214, 0) 125.93%
  );
  backdrop-filter: blur(37.1763px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  width: 25rem;
  margin-left: -17%;
}
.avatar-box {
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 2rem;
  img {
    width: 4.75rem;
    height: 4.75rem;
  }
}
.Box-1 {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 2rem;

  /* Neurtal/White */

  color: #ffffff;
}
.selected-1 {
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;
}
.sign-out-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f03a47;
  border-radius: 0px 0px 15px 15px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  height: 3rem;
  color: #fbfbfb;
  margin-top: 2rem;
}
.avatar-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 121% */

  text-align: center;

  /* Neurtal/White */

  color: #ffffff;
  padding-top: 8px;
}
.genres-box {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.genres-box-1 {
  margin-top: 3%;
  text-align: start;
  width: 86%;
  margin-left: 6%;
}
.languages-box-1 {
  margin-top: 3%;
  text-align: start;
  width: 86%;
  margin-left: 6%;
  margin-bottom: 3%;
}
