.navbar-container {
  z-index: 1;
  position: absolute;
  width: 5%;
  height: inherit;
  background-color: black;
  background: linear-gradient(
    90deg,
    #1e1515 27.37%,
    rgba(30, 21, 21, 0.08) 100%
  );
  backdrop-filter: blur(19.7356px);
  font-size: 1.125rem;
  &:hover {
    width: 13%;
  }
  .navbar-item-container {
    height: 30%;
    gap: 2rem;
    font-weight: 300;

    a {
      svg path {
        fill: white;
      }
      color: white;
      text-decoration: none;
    }
    p {
      padding-left: 1rem;
    }
  }
}

.navlink-active-style {
  color: #f03a47 !important;
  svg path {
    fill: #f03a47 !important;
  }
}
.navlink-active-style :hover {
  font-weight: 400;
}
.sidebar-item {
  font-weight: 300;
}
.sidebar-item:hover {
  font-weight: 400;
}
