.navbar-container {
  width: 7%;
  height: inherit;
  background-color: black;
  //padding: 350px 35px 400px;
  background: linear-gradient(
    90deg,
    #1e1515 27.37%,
    rgba(30, 21, 21, 0.08) 100%
  );
  backdrop-filter: blur(19.7356px);
  font-size: 1.125rem;
  &:hover {
    width: 18%;
  }
  .navbar-item-container {
    height: 30%;

    a {
      svg path {
        fill: white;
      }
      color: white;
      text-decoration: none;
      //color:#F03A47;
      
    }
    p {
      padding-left: 0.5rem;
    }
  }
}

.navlink-active-style {
  
  color: #f03a47 !important;
  svg path {
    fill: #f03a47 !important;
  }
}
