.Cards-container{
    border-radius: 20px;
    width: 14.5rem;
    height: auto;

    border-radius: 0px 0px 15px 15px;
}

.card-banner-image{
    width: 100%;
    height: inherit;
    background-size: cover;
}
.card-des{
    display: flex;
    flex-direction: column;
    
    background: linear-gradient(115.57deg, rgba(255, 255, 255, 0.19) -4.2%, rgba(234, 234, 234, 0.0806194) 70.71%, rgba(223, 214, 214, 0) 125.93%);
    backdrop-filter: blur(37.1763px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0px 0px 15px 15px;
}

.plus-icon{
    margin-top: 2%;
    background: linear-gradient(115.57deg, rgba(255, 255, 255, 0.19) -4.2%, rgba(234, 234, 234, 0.0806194) 70.71%, rgba(223, 214, 214, 0) 125.93%);
/* Primary/Red 100 */

border: 1px solid #F03A47;
border-radius: 44px;
    width:30px;
    margin-left: 0%;
    height: 30px;

}
.size-1{
    width: 12rem;
    height: 3rem;
    display: flex;
    align-items: center;

    justify-content: center;
}
.des-top-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}
.rate-1{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
border: 0.6px solid #9A9B9C;
border-radius: 26px;
    color: white;
 //   font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
margin-left: 4%;
height: 18px;
}
.ab-2{
    display: flex;
    align-items: center;
    margin-left: 6%;
 //   font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #FFFFFF;

}
.last-bar{
    display: flex;
    gap:1.5rem;
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.last-1{
    box-sizing: border-box;
    background: #6D6B6B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    width: max-content;
//    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
}