.login-container {
  width: 100%;
  height: 100%;
  background: url("../../assets/images/bg-login.png") no-repeat;
  position: relative;
  z-index: 0;
}

.overlay-1 {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30% !important;
  height: 600px;
  /* background: url("../../assets/images/bg-login.png") no-repeat; */
  background-color: transparent;
  background-position: center;
  border-radius: 10px;
  margin-top: 5%;
}

.binge-box-heading {
  margin-top: 10%;
  justify-content: center;
  text-align: center;
  width: 100%;
  display: flex;
  //font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 54.282px;
  line-height: 68px;
}

.binge-heading {
  height: 80%;
  width: 40%;
  background-color: #f03a47;
  //font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 54.282px;
  line-height: 68px;
  color: #ffffff;
}

.box-heading {
  height: 80%;
  width: 10%;
  margin-left: 2%;
  color: #f03a47;
  //font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 54.282px;
  line-height: 68px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.form .heading {
  margin-bottom: -2rem !important;
  //font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
}

.form .inputs {
  width: 100%;
  height: 50px;
  background: linear-gradient(115.57deg,

      rgba(255, 255, 255, 0.19) -4.2%,

      rgba(234, 234, 234, 0.0806194) 70.71%,

      rgba(223, 214, 214, 0) 125.93%);

  border: 0.9px solid #8b8b8b;
  border-radius: 1rem !important;
  margin-top: 10%;

  .error-signup {
    color: #F03A47;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
}

.form .inputs input {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color:white;
  background: linear-gradient(

      115.57deg,

      rgba(255, 255, 255, 0.19) -4.2%,

      rgba(234, 234, 234, 0.0806194) 70.71%,

      rgba(223, 214, 214, 0) 125.93%

    );

    border: 0.9px solid #8b8b8b;
  /* identical to box height */
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  /* background: transparent; */
  border: none;
  outline: none;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.form .remember-forgot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin: 5%;
  position: relative;
  top: 1rem;
}

.remember-forgot label input {
  accent-color: beige;
  margin-right: 4px;
}
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(182, 182, 164);
  opacity: 1;
  /* Firefox */
}
.remember-forgot a {
  color: #e4e4e4;
  text-decoration: none;
}

.remember-forgot a :hover {
  text-decoration: underline;
  color: #e4e4e4;
}

.form .btn {
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  background: #f03a47 !important;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 32px;
  color: #e4e4e4;
  font-weight: 600;
}

.divider {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #f03a47;
  text-align: center;
}

.divider-title {
  font-size: 20px;
  background-color: black;
  color: #e4e4e4;
  padding: 0 10px;
}

.sign-up {
  margin-top: 2.7rem;
  margin-bottom: 3rem;
}

.sign-up label {
  accent-color: #e4e4e4;
  margin-right: 4px;
}

.sign-up a {
  color: #f03a47;
  text-decoration: underline;
}

.sign-up a :hover {
  color: #e4e4e4;
}

.form .signin-methods {
  display: flex;
  justify-content: space-around !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.google-signin {
  display: flex;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 2.8rem;

  margin-right: 4rem;

  background: #ffffff;
  border: 1px solid #8b8b8b;
  border-radius: 0.625rem;
  //font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #000000;

  width: 201px;
  height: 72px;
  left: 710px;
  top: 898px;
}

.google-icon {
  font-size: 2.5625rem;
  padding-right: 0.625rem;
  margin-right: 0.6rem;
  width: 41px;
  height: 41px;
  left: 30px;
  top: 15px;

  background: url("../../assets/icons/google-logo.svg");
}



.mac-signin {
  display: flex;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  background: #ffffff;
  border: 1px solid #8b8b8b;
  border-radius: 0.625rem;
  //font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #000000;

  .apple-icon {
    font-size: 2.5625rem;
    padding-right: 0.625rem;
    margin-right: 1rem;
    width: 38px;
    height: 45px;
    left: 30px;
    top: 15px;

    left: 18.91%;
    right: 62.19%;
    top: 13.89%;
    bottom: 23.61%;

    background: #000000;

    background: url("../../assets/icons/apple-logo.svg");
  }
}