.forgot-container {
  margin-top: 10rem;
  margin-left: 51rem;
}
.forgot-password .card {
  margin-top: 2.5rem;
  left: 13.5%;
  width: 82.125rem;
  height: 35rem;
  background: linear-gradient(
    115.57deg,
    rgba(255, 255, 255, 0.19) -4.2%,
    rgba(234, 234, 234, 0.0806194) 70.71%,
    rgba(223, 214, 214, 0) 125.93%
  );
  backdrop-filter: blur(19.7356px);
  border-radius: 25px;

  align-items: center;
  color: #ffffff;
  h1 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 4.25rem;
    line-height: 49px;
  }
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-top: 2.81rem;
    margin-bottom: 1.5rem;
  }
  .inputs {
    width: 34.375rem;
    height: 4.5rem;
    color: #ffffff;
    background: linear-gradient(
      115.57deg,
      rgba(255, 255, 255, 0.19) -4.2%,
      rgba(234, 234, 234, 0.0806194) 70.71%,
      rgba(223, 214, 214, 0) 125.93%
    );
    border: 0.9px solid #8b8b8b;
    border-radius: 15px;
    input {
      width: 100%;
      height: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      line-height: 25px;
      color: #ffffff;
      /* identical to box height */
      border-radius: 0.625rem;
      display: flex;
      align-items: center;
      /* background: transparent; */
      border: none;
      outline: none;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      background: linear-gradient(
        115.57deg,
        rgba(223, 214, 214, 0) 125.93%,
        rgba(234, 234, 234, 0.0806194) 70.71%,
        rgba(255, 255, 255, 0.19) -4.2%
      );
      border: 0.9px solid #8b8b8b;
      border-radius: 15px;
    }
  }
  .btn {
    margin-top: 3rem;
    width: 34.375rem;
    height: 4.5rem;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    background: #f03a47 !important;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
  }
  h1{
    margin-top: 2.5rem;
    cursor: pointer;
    font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        text-transform: capitalize;
        
            color: #FFFFFF;
            span{
                margin-left: 0.5rem;
            }
  }
}
