.main-back-container {
    width: 100%;
    height: 100%;
    background-color: black;
    //border: 1px solid red;
    display: grid;
    // grid-template-columns: 380px 380px 380px 380px;
    grid-template-columns: auto auto auto auto;
  column-gap: 30px;
  z-index: 0;
  }
  .div1 {
    width: 380px;
    height: 280px;
    
  //   background-color: green;
  background-image: url(../../assets//images/pic2.svg);
  
    margin-left: 20px;
    margin-top: 20px;
  }
  .div2 {
    // margin: 20px;
    width: 380px;
    height: 280px;
    //background-color: red;
    background-image: url(../../assets//images/pic1.svg);
  
    margin-left: 20px;
    margin-top: 20px;
  }
  .div3 {
    width: 380px;
    height: 280px;
  //   background-color: yellow;
  background-image: url(../../assets//images/pic3.svg);
  
    margin-left: 20px;
    margin-top: 20px;
  }
  .div4 {
    width: 380px;
    height: 280px;
  //   background-color: blue;
  background-image: url(../../assets//images/pic4.svg);
  
    margin-left: 20px;
    margin-top: 40px;
  }
  .row1 {
    height: 100%;
    
    
    animation: scrollBg 5s linear forwards infinite;
    overflow: hidden;
  }
  .row2 {
      height: 100%;
      
      

      animation: scrollBg2 5s linear forwards infinite;
      overflow: hidden;
    }
  @keyframes move1 {
    0% {
      top: 0px;
    }
    100% {
      top: 100%;
    }
  }
  @keyframes move2 {
    0% {
      top: 0px;
    }
    100% {
      top: 100%;
    }
  }
  @keyframes move3 {
    0% {
      top: 0px;
    }
    100% {
      top: 100%;
    }
  }
  @keyframes move4 {
    0% {
      top: 0px;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes scrollBg {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(38px);
    }
  }
  @keyframes scrollBg2 {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-38px);
      }
    }
  .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
      z-index: 1;
      position: fixed;
    // display: flex;
    }
  .login{
      width: 340px;
      height: 340px;
      background-color: white;
      //background-color: rgba(0,0,0,0.7);
  
      z-index: 2;
      position: absolute;
  }